.info-page,
.post {
  h2 {
    font-size: 4.6rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  h3 {
    font-size: 3.6rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  h4 {
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  p {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  img {
    display: block;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
}
